@model List<Chapter>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

        <h3>
            <div class="tdVertMid">
                <div onclick="javascript:history.back()" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></div></div>
            <span class="tdVertMid tdTitle">@ViewData["Book"]</span>
        </h3>

        <div class="Cols2" >
            @foreach (var chapter in Model)
            {  
                <a asp-action="Verses" asp-route-id="@chapter.id" class="tile btn btn-default btn-block">
                @ViewData["Chapter"] @chapter.chapter_number</a>
            }
        </div> 
    </div>
</div>