@model List<Volume>
@{
    var sm = ViewData["SM"] as List<SMVolume>;
}


<div class="row volumes">
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
        <h3>Volumes</h3>
        @foreach (var volume in Model)
        {
            <a asp-action="Books" asp-route-id="@volume.id" class="tile btn btn-default btn-lg btn-block">
                @volume.title</a>
        }
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
        <h3>Scripture Mastery</h3>
        @foreach (var volume in sm)
        {
            <a asp-action="Sets" asp-route-id="@volume.id" class="tile btn btn-default btn-lg btn-block">
                @volume.title</a>
        }
    </div>
</div>