@model Topic
@{
    var passages = ViewData["Passages"] as List<Passage>;
}

<div class="row topics">
    <div class="col-sm-offset-3 col-sm-6">
        
        <h3>
            <div class="tdVertMid">
                <a asp-action="List" class="btn btn-default">
                    <i class="fa fa-angle-left"></i></a></div>
            <span class="tdVertMid tdTitle">@Model.Title</span>
        </h3><br>

        @if(passages.Count == 0){
            <p style="text-align:center;">No assigned passages</p>
        }
        @foreach(var passage in passages){
            <a asp-controller="Passages" asp-action="Detail" asp-route-id="@passage.ID" class="tile btn btn-block btn-default">
                @passage.Title</a>
        }

        <br><br>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-info pull-right">
            Settings
        </a>

    </div>
</div>
