@model Topic

<h3>@Model.Title</h3>
<a asp-action="List">&#8592; Back</a>
<br><br>
<p>Passages</p>
<br>

<div class="topic">
<form asp-action="Edit" asp-route-id="@Model.ID" method="get">
    <button  type="submit">Edit</button>
</form>
&nbsp;
<form asp-action="Delete" asp-route-id="@Model.ID" method="post">
    <button type="submit">Delete</button>
</form> 
</div>