@model List<Topic>

<div class="row topics">
    <div class="col-sm-offset-3 col-sm-6 ">
        
        <h3 style="margin-bottom:20px;">Topics</h3>

        @foreach (var topic in Model)
        {
            <a asp-action="Detail" asp-route-id="@topic.ID" class="tile btn btn-default">
                @topic.Title</a><br>
        }
    </div>

    <div class="col-sm-offset-3 col-sm-6" style="margin-top: 40px;">
        <form asp-controller="Topic" asp-action="Create" method="post">
            <label for="title" class="sr-only"></label>
            <input type="text" class="form-control" name="title" placeholder="New topic or question"/>
            <input type="submit" class="btn btn-primary" value="Create" 
                    style="float:right; margin-top:10px;" />
        </form>
    </div> 
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}