@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script> 
    <script src="~/lib/angular-route/angular-route.min.js"></script> 
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/review/app-review.js"></script>
    <script src="~/js/review/reviewTopicsListController.js"></script>
    <script src="~/js/review/reviewTopicPassagesController.js"></script>
    <script src="~/js/review/reviewDetailController.js"></script>
}

<div ng-app="app-review" class="row">
    <div ng-view></div> 
</div> 