<h3>All Passages</h3>

<div ng-cloak>
    <div style="float:left">Total Verses: {{ vm.stats.totalVerses }}</div>

    <div class="btn-group" data-toggle="buttons" style="float:right; margin-bottom:5px;">
        <label ng-click="vm.sortByReference()" class="btn btn-primary active">
            <input type="radio" autocomplete="off" checked> Sort by Reference
        </label>
        <label ng-click="vm.sortByDateCreated()" class="btn btn-primary">
            <input type="radio" autocomplete="off"> Sort by Date Created
        </label>
    </div>

    <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }} </div>
    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    
    <div class="table-responsive my-tables" style="clear:both">
        <table class="table table-striped" ng-show="vm.passages.length">
            <tr>
                <th>Passage</th>
                <th class="text-center">Topics</th>
                <th class="text-center">Level</th>
                <th>Date Passed</th>
                <th>Date Created</th>
            </tr>
            <tr ng-repeat="passage in vm.passages">
                <td><a ng-href="/Passages/Detail/{{passage.id}}">{{ passage.title }}</a></td>
                <td class="text-center">{{ passage.topics }}</td>
                <td class="text-center">{{ passage.level }}</td>
                <td>{{ passage.datePassed | date:'EEE, MMM d' }}</td>
                <td>{{ passage.dateCreated | date:'EEE, MMM d, yy'}}</td>
            </tr>
        </table>
    </div>
</div> 