<div class="col-md-offset-2 col-md-8">
    <h3>{{vm.title}}</h3>     

    <div class="table-responsive my-tables" ng-cloak>
        <div class="text-danger" ng-show="vm.errorMessage">{{ vm.errorMessage }} </div>
        <wait-cursor display-when="vm.isBusy"></wait-cursor>

        <table class="table table-striped" ng-show="vm.passages.length">
            <tr>
                <th>Passage</th>
                <th class="text-center">Level</th>
            </tr>
       
            <tr ng-repeat="passage in vm.passages">
                <td><a ng-href="#/Passage/{{passage.id}}">{{ passage.title }}</a></td>
                <td class="text-center">{{ passage.level }}</td>
            </tr> 
        </table>
    </div>
    <p ng-show="!vm.isBusy && !vm.passages.length">No passages to review</p>
</div> 