@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script> 
    <script src="~/lib/angular-route/angular-route.min.js"></script> 
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-passages.js"></script>
    <script src="~/js/passagesController.js"></script>
    <script src="~/js/passageDetailController.js"></script>
}

<div class="row">
    <div ng-app="app-passages" class="col-md-offset-2 col-md-8">
        <div ng-view></div> 
    </div>
</div> 