@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script> 
    <script src="~/lib/angular-route/angular-route.min.js"></script> 
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-passages.js"></script>
    <script src="~/js/passagesController.js"></script>
    <script src="~/js/passageDetailController.js"></script>
}

<div ng-app="app-passages">

    <div ng-view></div> 

</div> 