@import 'default.css';

/*Main format*/
html {
  height: 100%; /* keep footer on bottom */
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  /*keep footer on bottom*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.body-content {
  flex: 1; /* keep footer on bottom */
}
footer {
  padding: 0 20px;
  font-size:12px;
}

/*Angular*/
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*Fonts*/
.navbar, .volumes, .verses, .topics, .all-passages {
    font-size: 16px;
}

/* responsive design */
@media screen and (max-width: 767px) {
  .body-content{
    margin: 0;
    padding: 0 20px;
  }
  .Cols1or2 {
    column-count: 1 !important;
  }
  .tdTitle {
    padding-left: 10px;
  }
}
.navbar-collapse li {
  text-align: center;
}

/* select formatting */
.Cols1or2, .Cols2 {
  column-count: 2;
}
.tile {
  white-space: normal;
  margin-top: 0 !important;
  font-size: inherit !important;
  break-inside: avoid-column;
}
.btn-select {
  display: none;
}
.tdVertMid {
  display: table-cell;
  vertical-align: middle;
}
.tdTitle {
  padding-left: 20px;
}
.taken {
  background-color: lightgray;
  background-image: none;
  pointer-events: none;
  cursor: default;
}
.selected {
  background-color: lightyellow !important;
  background-image: none;
}

/*other*/
.float-r {
  float:right;
}
.float-l {
  float:left;
}
.delete-topic {
    clear:both;
    margin-top: 70px;
}